{
    "cloudera": {
        "username": "",
        "password": "",
        "host": "",
        "port":,
        "ssl": 
    },
    "datadog": {
        "api_key": "",
        "application_id": ""
    }
    "elasticsearch": {
        "username": "",
        "password": "",
        "host": "",
        "port":,
        "ssl": 
    }
}
